
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


html {
    scroll-behavior: smooth;
}
#contacto{
    font-family: 'Roboto Mono', monospace;
    margin: 0px;
    background-image: url(images/fondo-contacto.png);
    background-size: cover;
}

p{
    color:#6a6a6a;
}

nav a{
    color: #282828;
}

nav .active{
    border: 1px solid red;
    border-radius: 20px;
}

.btn-rojo{
    background-color: red;
    color: white;
    border: 5px white;
    border-radius: 15px;
    padding: 5px 10px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 300;
}
.btn-bco{
    background-color: white;
    color: #370a6d;
    border: 5px white;
    border-radius: 15px;
    padding: 10px 15px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 300;

}
.btn-rojo:hover{
    background-color: white;
    color: red;
    border: 1px solid #6a6a6a;
}

.btn-bco:hover{
    background-color: #370a6d;
    color: white;
    border: 1px solid #370a6d;
}

h1{
    color: red;
    font-style: italic;
}

.inv p{
    color: #6a6a6a;
}

.form-control{
    border: 1px solid #eee;
    border-radius: 20px;
}

textarea{
    height: 150px;
}

form button{
    border: none;
    border-radius: 20px;
    color: #370a6d ; 
    background-color: white;
    padding: 5px 30px;
}
form button:hover{
    background-color: #370a6d;
    color: white;
    cursor: pointer;
}

.contact p{
    color:white;
    font-weight: 200;
}
.contact a{
    color:red;
    font-weight: 200;
    text-decoration: underline;
}

#contacto footer a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
#redes .fa-linkedin-in, #redes .fa-github{
    color: red;
    font-size: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 10px 12px;

}
.fa-whatsapp{
    background-color: #370a6d;
    color: white;
    width: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 30px;
    text-align: center;
    padding: 20px 0 20px 0;
    right: 80px;
    position: fixed;
    bottom: 0px;

}

#proyectos{
    background-image: url(images/fondo-proyectos.png);
    font-family: 'Roboto Mono', monospace;
    margin: 0px;
    background-size: cover;
}
#proyectos h1{
    color: red;
    font-style: italic;
}

#proyectos h2{
    color:white;
    font-size: 20px;
    background: rgb(142,48,32);
    background: linear-gradient(90deg, rgba(142,48,32,1) 0%, rgba(187,39,15,1) 30%);
    padding: 7px 0px;
    font-weight: 400;
}
#proyectos img{
    height: 217px;
}

.abmproyectos p{
    font-size: 14px;
    color: #6a6a6a;
    height: 120px;
}

.project{
border: 1px solid #eee;
border-radius: 20px;

}
.link-rojo{
    color: red;
    padding: 5px 10px;
    font-weight: 300;
    
}
#proyectos footer p{
    color:red;
}

#inicio{
    font-family: 'Roboto Mono', monospace;
    margin: 0px;
    background-image: url(images/fondo-contacto.png);
    background-size: cover;
}

.cohete img{
    height: 400px;
}
.cohete img:hover{
    height: 420px;
}
.cohete{
    height: 450px;
}
.bienvenida p{
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: 600;
    font-size: 17px;
}
#inicio footer p{
    color:white;
}
#inicio footer a{
    color:white;
    text-decoration: none;
}
#sobre-mi{
    font-family: 'Roboto Mono', monospace;
    margin: 0px;
}
#sobre-mi h1{
    color: red;
    font-style: italic;
}
#intro img{
    height: 250px;
    border-radius: 50%;
}

#stack{
    background: rgb(142,48,32);
    background: linear-gradient(90deg, rgba(142,48,32,1) 0%, rgba(187,39,15,1) 30%);
}
h2{
    font-size: 25px;
    color:#282828;
}
#stack h2{
    font-size: 25px;
    color:white;
}

h3{
    font-size: 18px;
    color:#6a6a6a
}
#xp h3{
    font: 20px;
    color: #282828;
}
#xp h4{
    font-size: 16px;
}
#xp h5{
    font-size: 14px;
color: #eee;}
.tec{
    background-color: white;
    border-radius: 20px;

}
.icon{
    font-size: 100px; 
    color: rgb(187,48,32);
    color: linear-gradient(90deg, rgba(142,48,32,1) 0%, rgba(187,39,15,1) 30%);
    
}
